@model ILeaf.Web.Areas.Web.Models.ForgetPasswordViewModel
@{
    Layout = "~/Areas/Web/Views/Shared/_Login.cshtml";
    ViewBag.Title = "找回密码";
}

@using (Html.Bootstrap().Begin(new Form().Type(FormType.Vertical)))
{
    <p class="text-muted text-center">找回密码</p>

    @Html.Bootstrap().TextBoxFor(m => m.EMail).Placeholder("邮箱地址")
    @Html.ValidationMessageFor(m => m.EMail)
    

    @Html.Bootstrap().SubmitButton().Text("重置密码").Color(BootstrapColors.Primary)
}
