
@{
    Layout = "~/Areas/Web/Views/Shared/_Login.cshtml";
    ViewBag.Title = "用户注册";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
