@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ILeaf</h1>
    <p class="lead">基于时间表格的统筹管理软件</p>
    <p><a href="/Web/Login" class="btn btn-primary btn-lg">立即进入 &raquo;</a></p>
</div>
