@{
    ViewBag.Title = "我的日历";
}

@Styles.Render("~/Content/Calendar")
<div id="calendar"></div>
<script id="popoverConfirmEvent" type="text/template">
    <div class="text-center">
        {userName} 向您分享了日程
    </div>
    <table style="width:100%;">
        <tr>
            <td>
                <button class="btn btn-success" style="width:100%;padding:1px;" onclick="acceptFriendEvent();">接受</button>
            </td>
            <td style="width:2px;"></td>
            <td>
                <button class="btn btn-danger" style="width:100%;padding:1px;" onclick="declineFriendEvent();">拒绝</button>
            </td>
            <td style="width:2px;"></td>
            <td>
                <button class="btn btn-default" style="width:100%;padding:1px;" onclick="cancelFriendEvent();">取消</button>
            </td>
        </tr>
    </table>
</script>
<script id="popoverAddEvent" type="text/template">
    <div style="box-sizing:border-box;width:250px;">
        <div style="width:100%;padding:2px;">
            <input class="form-control" placeholder="标题" id="_title" type="text"/>
        </div>
        <input type="hidden" id="_date" />
        <table style="width:100%">
            <tr>
                <td style="padding:2px;">
                    <input class="form-control timepicker-24" type="text" id="_starttime" />
                </td>
                <td style="padding:2px;">
                    <input class="form-control timepicker-24" type="text" id="_endtime" />
                </td>
                <td style="padding:2px;">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="_allday" />全天
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        
        <table style="width:100%;">
            <tr>
                <td>
                    <a href="#" onclick="jumpToDetail();">更多...</a>
                </td>
                <td>
                    <button class="btn btn-success" style="width:100%" onclick="onQuickAdd();">确定</button>
                </td>
                <td style="width:2px"></td>
                <td>
                    <button class="btn btn-danger" style="width:100%" onclick="cancelQuickAdd();">取消</button>
                </td>
            </tr>
        </table>
   </div>
</script>
@Scripts.Render("~/Scripts/Calendar")

