
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/chat.css")
@Styles.Render("~/Content/MoneAdmin.css")
<table class="fixed-window">
    <tr>
        <td class="w-header">
            聊天列表
        </td>
        <td class="w-header">
            聊天窗口
        </td>
    </tr>
    <tr>
        <td style="width:30%;" class="chat-list-wrapper">
            <div class="chat-list">
                <script>
                                // 这个我写了一上午都搞不定，用户一多页面就会被撑大，用css解决不了，只好用js了
                                window.onresize = function () {
                                    $('.chat-list').css('height', document.documentElement.clientHeight - 50);
                                }
                                $('.chat-list').css('height', document.documentElement.clientHeight - 50);
                </script>
                <ul class='chat'>
                    <li class="btn btn-success" style="width:100%;">
                        <i class="fa fa-plus"></i> 新聊天
                    </li>


                    <li class="left green-hover">
                        <a class="item" href="#">
                            <span class="pull-left">
                                <img src="~/Content/Images/1.png" alt="User Avatar" class="chat-list-img" />
                            </span>
                            <div class="chat-body">
                                <div class="header">
                                    <strong class="primary-font"> 用户1 </strong>
                                    <div class="pull-right text-muted">
                                        
                                    </div>
                                </div>
                                <p>
                                    el psy congroo
                                </p>
                            </div>
                        </a>
                    </li>

                    <li class="left green-hover">
                        <a class="item" href="#">
                            <span class="pull-left">
                                <img src="~/Content/Images/1.png" alt="User Avatar" class="chat-list-img" />
                            </span>
                            <div class="chat-body">
                                <div class="header">
                                    <strong class="primary-font"> 用户1 </strong>
                                    <small class="pull-right text-muted">
                                        <i class="icon-time"></i> 12 分钟前
                                    </small>
                                </div>
                                <p>
                                    el psy congroo
                                </p>
                            </div>
                        </a>
                    </li>

                </ul>

            </div>
            <div class='chat-editor'></div>
        </td>
        <td class="chat-window">
            <div class="chat-area">
                <ul>
                    <li>
                        <p class="chat-time">
                            <span>10:07</span>
                        </p>
                        <div class="chat-item">
                            <img src="~/Content/Images/2.png" class="chat-avator" />
                            <div class="chat-bubble">
                                短文本测试
                            </div>
                        </div>
                    </li>



                    <li>
                        <div class="chat-item chat-me">
                            <img src="~/Content/Images/1.png" class="chat-avator" />
                            <div class="chat-bubble">
                                短文本测试2
                            </div>
                        </div>
                    </li>



                    <li>
                        <div class="chat-item chat-me">
                            <img src="~/Content/Images/1.png" class="chat-avator" />
                            <div class="chat-bubble">
                                长文本测试： 在SAO中除了是原本就不多的女性玩家外，更是在反映真实长相的SAO系统下拥有排名前五名美貌的美女玩家。 其美貌与能担任最强公会血盟骑士团副团长的实力，让她在SAO中几乎是无人不晓的名人。为了避免沾上麻烦， 血盟骑士团特别派了两名护卫贴身保护，但本人却不太喜欢的样子。武器是白色剑身的细剑“闪烁之光
                                （Lambent Light／ランベントライト）”，能使出连桐人也看不清的高速高准度连击，而拥有“闪光”的称号。 因为个人兴趣，料理技能已经完全习得，甚至以神农氏尝百草的方式，成功合成出酱油与美乃滋等数种调味料
                                的味道，不喜欢像蟾蜍的食物。最出名的就是用桐人得到的S级食材杂烩兔做成的炖肉杂烩。 擅长的技能是单 手细剑高等剑技“星屑飞溅”八连击、以及速度如同彗星般的“闪光穿刺”。
                                个性温暖又善良，使她处处遇上有 苦难之者就会毫无犹豫的帮助，疼爱小孩，而且爽快的跟连二再三缠在丈夫身边的美女们成为好友。 阅读更 多：结城明日奈（
                                <a href="https://zh.moegirl.org/%E7%BB%93%E5%9F%8E%E6%98%8E%E6%97%A5%E5%A5%88">
                                    https://zh.moegirl.org/%E7%BB%93%E5%9F%8E%E6%98%8E%E6%97%A5%E5%A5%88
                                </a>）
                                本文引自萌娘百科（
                                <a href="https://zh.moegirl.org/">https://zh.moegirl.org/</a>），文字内容遵守【知识共享 署名-非商 业性使用-相同方式共享 3.0】协议。
                            </div>
                        </div>
                    </li>



                    <li>
                        <div class="chat-item chat-file">
                            <img src="~/Content/Images/1.png" class="chat-avator" />
                            <div class="chat-bubble">
                                <div class="chat-icon">
                                    <i class="fa fa-file-o"></i>
                                </div>
                                <div class="chat-file-name">
                                    <strong>测试文件消息</strong>
                                </div>
                                <div class="chat-file-size">
                                    10.5 KB
                                </div>
                            </div>
                        </div>
                    </li>



                    <li>
                        <div class="chat-item chat-voice chat-me">
                            <img src="~/Content/Images/1.png" class="chat-avator" />
                            <div class="chat-bubble">
                                <div class="chat-icon">
                                    <i class="fa fa-microphone"></i>
                                </div>
                                <div class="chat-voice-duration">
                                    10"
                                </div>
                            </div>
                        </div>
                    </li>



                    <li>
                        <div class="chat-item chat-me">
                            <img src="~/Content/Images/1.png" class="chat-avator" />
                            <img src="~/Content/Images/bk g.jpg" class="chat-img" />
                        </div>
                    </li>

                    <li>
                        <div class="chat-item">
                            <img src="~/Content/Images/1.png" class="chat-avator" />
                            <img src="~/Content/Images/bkg.jpg" class="chat-img" />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-editor">
                <div class="chat-editor-toolbar btn-group">
                    <button class="btn">
                        <i class="fa fa-smile-o"></i>
                    </button>
                    <button class="btn">
                        <i class="fa fa-image"></i>
                    </button>
                    <button class="btn">
                        <i class="fa fa-microphone"></i>
                    </button>
                    <button class="btn">
                        <i class="fa fa-file"></i>
                    </button>
                </div>
                <div class="chat-editor-content">
                    <textarea class="chat-textarea" contenteditable="true"></textarea>
                </div>
                <div class="chat-editor-bottom">
                    <botton class="btn btn-success" style="float:right;">
                        <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;发送
                    </botton>
                </div>
            </div>
        </td>
    </tr>
</table>
